In [98]:
# Que.1 - Demonstrate three different methods for creating identical 2D arrays in NumPy, Provide the code for each method and the final output after each method.


# Method - 1 : Using numpy.array with a nested list
import numpy as np

# Creating a 2D array using a nested list
array1 = np.array([[1, 2, 3], [4, 5, 6]])

print("Array created using numpy.array with a nested list:")
print(array1)


# Method - 2 : Using numpy.zeros and setting values manually

# Creating a 2D array using numpy.zeros and then setting values
array2 = np.zeros((2, 3), dtype=int)
array2[0, 0] = 1
array2[0, 1] = 2
array2[0, 2] = 3
array2[1, 0] = 4
array2[1, 1] = 5
array2[1, 2] = 6

print("\nArray created using numpy.zeros and setting values manually:")
print(array2)


# Method - 3 : Using numpy.full and slicing


# Creating a 2D array using numpy.full and slicing
array3 = np.full((2, 3), 0)
array3[0, :] = [1, 2, 3]
array3[1, :] = [4, 5, 6]

print("\nArray created using numpy.full and slicing:")
print(array3)

Array created using numpy.array with a nested list:
[[1 2 3]
 [4 5 6]]

Array created using numpy.zeros and setting values manually:
[[1 2 3]
 [4 5 6]]

Array created using numpy.full and slicing:
[[1 2 3]
 [4 5 6]]

In [99]:
# Que.2 - Using the Numpy function, generate an array of 100 evenly spaced numbers between 1 and 10 and Reshape that 1-D array into a 2-D array.

# Solving


# 1. Define the parameters
start = 1      # Starting value of the sequence
end = 10       # Ending value of the sequence
num_values = 100  # Number of evenly spaced numbers

# 2. Generate a 1D array of evenly spaced numbers
array_1d = np.linspace(start, end, num_values)

# Reshape the 1D array into a 2D array
# To reshape into a 2D array, we need to make sure that the total number of elements matches the product of the new dimensions. For example, 100 elements can be reshaped into (10, 10).
num_rows = 10
num_cols = 10

array_2d = array_1d.reshape(num_rows, num_cols)

# Print the resulting 2D array
print("2D array after reshaping:")
print(array_2d)

2D array after reshaping:
[[ 1.          1.09090909  1.18181818  1.27272727  1.36363636  1.45454545
   1.54545455  1.63636364  1.72727273  1.81818182]
 [ 1.90909091  2.          2.09090909  2.18181818  2.27272727  2.36363636
   2.45454545  2.54545455  2.63636364  2.72727273]
 [ 2.81818182  2.90909091  3.          3.09090909  3.18181818  3.27272727
   3.36363636  3.45454545  3.54545455  3.63636364]
 [ 3.72727273  3.81818182  3.90909091  4.          4.09090909  4.18181818
   4.27272727  4.36363636  4.45454545  4.54545455]
 [ 4.63636364  4.72727273  4.81818182  4.90909091  5.          5.09090909
   5.18181818  5.27272727  5.36363636  5.45454545]
 [ 5.54545455  5.63636364  5.72727273  5.81818182  5.90909091  6.
   6.09090909  6.18181818  6.27272727  6.36363636]
 [ 6.45454545  6.54545455  6.63636364  6.72727273  6.81818182  6.90909091
   7.          7.09090909  7.18181818  7.27272727]
 [ 7.36363636  7.45454545  7.54545455  7.63636364  7.72727273  7.81818182
   7.90909091  8.          8.09090909  8.18181818]
 [ 8.27272727  8.36363636  8.45454545  8.54545455  8.63636364  8.72727273
   8.81818182  8.90909091  9.          9.09090909]
 [ 9.18181818  9.27272727  9.36363636  9.45454545  9.54545455  9.63636364
   9.72727273  9.81818182  9.90909091 10.        ]]

In [100]:
# Que.3 -  Explain the following terms.

# [a]. The difference in np.array, np.asarray and np.asanyarray.
# [b]. The difference between Deep copy and shallow copyX




# [a]. The difference in np.array, np.asarray and np.asanyarray



# np.array - It is use to create a new array.
# Using np.array

list1 = [1,2,3]
array1 = np.array(list1)
print("Using np.array :",array1)


# np.asarray - it is used to convert the input to ndarray, but it does not copy the data if the input is already in ndarray.
# Using np.asarray

array2 = np.asarray(list1)
print("Using np.asarray :",array2)

# np.asanyarray - it is similar as np.asarray but it passes the through subclasses of 'ndarray'(such as matrix). it ensure that the result is subclass
# Using np.asanyarray

array3 = np.asanyarray(list1)
print("Using np.asanyarray:",array3)




print("")




# [b]. The Differcence between Deep copy and shallow copy.




#  Deep Copy - A Deep copy create a new array object and a new copy of the data , so changed in one do not affect other.

# Deep copy example -

original_array = np.array([1,2,3])
deep_copy = original_array.copy()
deep_copy[0] = 99 
print("original array after modifying deep_copy :",original_array)
print("Deep_copy :",deep_copy)


# Shallow Copy - A Shallow copy create a new array object but it share the data with original array, so change in one affect other.
print("")


original_array2 = np.array([4,5,6])
shallow_copy = original_array2
shallow_copy[0] = 999
print("original array after modifying shallow_copy :",original_array2)
print("Shallow_copy :",shallow_copy)

Using np.array : [1 2 3]
Using np.asarray : [1 2 3]
Using np.asanyarray: [1 2 3]

original array after modifying deep_copy : [1 2 3]
Deep_copy : [99  2  3]

original array after modifying shallow_copy : [999   5   6]
Shallow_copy : [999   5   6]

In [101]:
# Que.4 - Generate a 3x3 array with random floating-point numbers between 5 and 20. then, round each number in the array to 2 decimal places.

# Solve >>

# Step 1. Generaing 3*3 array with random floating-point numbers between 5 to 20.
random_arr = np.random.uniform(5,20,(3,3))

# Step 2. Rounding each number in the array to 2 decimal places.
round_arr = np.round(random_arr,2)


print("Random_array  :")
print(random_arr)
print("Round_Array  :")
print(round_arr)

Random_array  :
[[18.44814201 10.0961014  18.05943266]
 [ 8.37216213 13.83407983 11.23022725]
 [16.0556957  16.54468004  6.81920273]]
Round_Array  :
[[18.45 10.1  18.06]
 [ 8.37 13.83 11.23]
 [16.06 16.54  6.82]]

In [102]:
# Que.5 - Create a NumPy array with random integers Between 1 and 10 of shape (5,6). After creating the array perform the following operations:

 # a). Extract all even integers from array.

 # b). Extract all odd integers from array.
 
 
 
# Solving : 

Random_arr = np.random.randint(1,11,(5,6)) # I chose np.random.randint(1, 11, (5, 6)) to generate random integers between 1 and 10 because the upper bound in np.random.randint is exclusive. This means that np.random.randint(1, 11, (5,6)) will generate integers from 1 up to 10, inclusive.
print("\nRandom Array of (5,6):")
print(Random_arr)
print("")

# a). Extracting all even number from array

Even_number = Random_arr[Random_arr % 2 == 0]
print("Even Number :")
print(Even_number)


# b). Extracting all odd Integer from array

odd_number = Random_arr[Random_arr % 2 != 0]
print("odd number :")
print(odd_number)

Random Array of (5,6):
[[ 4  7  4  7  8  4]
 [ 9  8  2  9  6  6]
 [ 1 10  9  2  8  1]
 [ 1  8  7  5  3  7]
 [ 9  4  7  5  1  5]]

Even Number :
[ 4  4  8  4  8  2  6  6 10  2  8  8  4]
odd number :
[7 7 9 9 1 9 1 1 7 5 3 7 9 7 5 1 5]

In [103]:
# Que.6 - Create a 3D NumPy array of shape (3, 3, 3) containing random integers Between 1 and 10. Perform the following operations:

 # a). Find the indices of the maximum values along each depth level (third axis).

 # b). Perform element wise multiplication of between both array
 
 
 
 # Creating 3D numpy array of shape (3,3,3) containing random integer between 1 to 10
random_np_arr = np.random.randint(1,11,(3,3,3))
print("\nGenerating random array of shape(3,3,3) :")
print(random_np_arr)
print("")


# b). Find the indices of the msximum values along each depth level (Third axis)
max_indices = np.argmax(random_np_arr, axis=2)
print("\n(a) Indices of the maximum value along each depth level(third axis) :")
print(max_indices)


# c). Performing element wise multiplication of between both array
random_np_arr2 = np.random.randint(1,11,(3,3,3)) # Creating second 3d array

# Perform element wise multiplication
result_arr = random_np_arr * random_np_arr2
print("\n(b) Result array after element wise multiplication")
print(result_arr)

Generating random array of shape(3,3,3) :
[[[2 4 8]
  [4 8 9]
  [1 9 6]]

 [[3 2 6]
  [9 9 6]
  [1 7 1]]

 [[7 7 9]
  [6 2 6]
  [1 6 5]]]


(a) Indices of the maximum value along each depth level(third axis) :
[[2 2 1]
 [2 0 1]
 [2 0 1]]

(b) Result array after element wise multiplication
[[[ 8  8 64]
  [ 4 16 36]
  [ 5 90 30]]

 [[24  2 30]
  [63 27 60]
  [ 6 63  6]]

 [[21 28 54]
  [54 20 42]
  [ 1 60 40]]]

In [104]:
import pandas as pd

## Que. 7
### Clean and transform the 'Phone' column in the sample dataset to remove non-numeric characters and convert it to a numeric data type. Also display the table attriButes and data types of each column.

In [110]:
# Que 8. Clean and transform the 'Phone' column in the sample dataset to remove non-numeric characters and convert it to a numeric data type. Also display the table attributes and data types of each column.


df = pd.read_csv(r"E:\DataScience\Assignment\People Data.csv")
df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          1000 non-null   int64
 1   User Id        1000 non-null   object
 2   First Name     1000 non-null   object
 3   Last Name      1000 non-null   object
 4   Gender         1000 non-null   object
 5   Email          1000 non-null   object
 6   Phone          979 non-null    object
 7   Date of birth  1000 non-null   object
 8   Job Title      1000 non-null   object
 9   Salary         1000 non-null   int64
dtypes: int64(2), object(8)
memory usage: 78.3+ KB

Here the Dtypes of Phone column is object. So checking unwanted value and just drop it.

In [106]:
df['Phone'].unique()

array(['857.139.8239', nan, '(599)782-0605', '(390)417-1635x3010',
       '8537800927', '093.655.7480x7895', '4709522945', '013.820.4758',
       '(560)903-5068x4985', '8629884096', '+1-041-859-3844x272',
       '801.809.9181x37308', '+1-511-127-6660x230', '903.545.8947',
       '(416)979-0633x058', '244-054-8521x1913', '(929)366-8549x3587',
       '(973)243-9193', '060-611-9377x90160', '601.838.8295x89942',
       '668.063.9568x7257', '(590)187-8007x273', '972.064.3833x5347',
       '(614)275-6966x22597', '(322)679-7824', '989.482.6130x996',
       '975-190-7875x3293', '(291)853-7982x0123', '(984)863-5741x7054',
       '(977)846-8023', '526-208-4712x10329', '157.425.5345',
       '600-706-8696x839', '557-620-5663', '000-364-9407x55677',
       '(116)776-0713x4684', '+1-932-606-8425x22206', '341.096.2708x237',
       '+1-833-716-3269x028', '001-313-023-3603x2485',
       '001-366-475-8607x04350', '(412)388-9715', '353.983.3416',
       '355-371-5885x826', '+1-326-669-0118x4341',
       '001-859-448-9935x54536', '001-274-739-8470x814',
       '241.179.9509x498', '207.797.8345x6177', '001-599-042-7428x143',
       '663-280-5834', '125.219.3673x0076', '650-748-3069x64529',
       '849.500.6331x717', '001-231-320-5609x40384',
       '001-937-255-8809x077', '(752)468-1821x6065', '246-500-3955',
       '826-156-4347x8894', '939.856.5702', '+1-153-975-9160x54877',
       '757.454.8723x425', '632.827.2115', '464-501-0971x93579',
       '(192)564-7672', '+1-153-763-3245x239', '549.897.3335',
       '777.238.3474', '717.061.0941', '974.866.5670',
       '+1-006-497-5864x90856', '890-134-1311', '475.777.8494x2737',
       '673.878.6558x33809', '406-298-3045', '(839)224-3577',
       '+1-008-555-9017x5699', '(021)896-7173', '412659505',
       '894-297-7449x0521', '5419583323', '358.163.4148x2319',
       '(638)229-8203x412', '7631450835', '1289379504', '-2840',
       '(656)329-5478', '702.591.8573', '3696493045', '343-058-6684',
       '+1-997-465-0335x4485', '436.750.6198x86373',
       '001-206-682-7783x4353', '064-606-7086', '001-371-758-0962x02689',
       '461-212-2090x4522', '5528746828', '(443)703-9896x46775',
       '948-848-5407x6058', '976.976.4060x497', '743-835-6511',
       '001-385-949-1206x66591', '(918)520-3208x3647',
       '001-017-417-0832x943', '001-414-299-1667', '907-736-0570',
       '(770)225-7292x865', '(278)176-8091x59960', '8399917932',
       '989.634.0396', '291.587.2513x569', '001-183-061-5706',
       '392.522.2649x43694', '(074)697-9276x0345', '283.514.2546',
       '840.520.0168', '600.473.3696x9138', '658.589.4668x5099',
       '371.388.5547x616', '001-892-550-0086x088',
       '+1-029-184-8369x33344', '954.146.7056', '(033)223-1221x741',
       '-8769', '285.170.3468', '+1-000-117-8461x20805',
       '001-660-127-4590x6546', '939.826.3921x144', '853.032.2083',
       '001-438-246-2459x25487', '001-644-806-9491x2925',
       '911-487-0373x8825', '349.036.6379', '-6559',
       '+1-584-890-5151x25199', '130-033-4673x91152',
       '384-805-8385x93679', '001-908-915-3254x88513',
       '(554)048-7817x1840', '479.731.1408x0288', '+1-499-039-0998x2391',
       '001-299-317-0247', '126-232-7407x795', '580-805-3548x8579',
       '001-521-112-6517x8064', '006-051-5517', '674-990-9161x259',
       '001-701-137-1053x17874', '(478)900-4374', '315.251.1410x1611',
       '1196895633', '001-516-867-8624x6537', '179-217-2547',
       '+1-043-555-5103x8803', '+1-129-561-0470x850',
       '+1-720-651-9038x59082', '(889)413-9131x24202', '879.292.7765',
       '121-608-9421', '(186)195-0778x95221', '(235)702-5980x885',
       '130.153.8935x98189', '+1-072-501-2836x748',
       '001-112-893-2280x858', '670.842.1891', '1526791903',
       '001-668-870-9328', '(439)390-6223x0153', '904-206-6562x5727',
       '046-790-3722x3553', '008.797.7605', '864.444.3451x06208',
       '001-445-245-4728', '1053648903', '(631)637-3650',
       '044.291.0252x559', '025-325-6554', '001-503-801-8804x091',
       '001-122-269-2914x480', '+1-740-404-4829x6734', '-2858',
       '001-253-274-0802', '614.309.7804x6157', '001-893-212-6379',
       '255.317.6663', '343-440-2890x2649', '862-457-9311x766',
       '473-759-5577x515', '601-835-5192x63785', '-8450',
       '720-492-0967x56147', '422-538-3403x6546', '232-541-3203x6916',
       '(153)089-2350', '740.434.0212', '001-574-087-2726x7850',
       '001-568-534-7273x8143', '772.561.6125', '782.372.6746x2582',
       '+1-294-763-6641x9199', '(500)343-9851x714', '671.841.5883x575',
       '(255)274-8465', '232-108-8414', '+1-932-530-3920x4196',
       '001-617-904-1011x95460', '068-947-7736', '(400)338-9382x0631',
       '001-505-218-9483x2407', '079.562.5967x89842',
       '148-019-8226x01837', '001-553-768-2080', '001-005-312-1029x159',
       '001-339-180-2004', '(654)360-0206', '001-919-880-6698x82822',
       '780.016.9045x1922', '(222)266-2752', '001-757-819-4529x63002',
       '(083)117-8077x469', '226.013.9961', '75514069',
       '654.298.3926x2751', '423-011-4943x091', '001-605-811-2204',
       '9626840627', '579.145.6237x01090', '969-492-9689x6742',
       '903-121-7928', '-10362', '+1-134-079-4122x3916', '7153164628',
       '1301630752', '447-321-4820', '(513)800-9631', '558.587.7098',
       '(005)405-6818x9500', '+1-379-748-4774x27663', '862-046-3491x147',
       '1032763274', '183.881.9355x2468', '149.501.1590x5315',
       '(215)931-0545x23557', '+1-329-571-4597x143',
       '001-015-685-8433x54909', '721.978.6128x8184',
       '+1-506-126-5723x259', '(943)444-8724', '3866458129',
       '(818)062-7676', '001-179-132-1603x752', '806.073.4010',
       '197.437.5363x341', '605-274-3835', '(091)991-5163',
       '001-417-776-1663x831', '6567039189', '828.725.8358',
       '001-564-357-3811x48845', '+1-831-337-4453x69562', '7030930740',
       '+1-044-198-1145x772', '795-860-8920', '987-424-9440x903',
       '+1-740-899-7655x05268', '(997)139-9531x88690', '1749251229',
       '1659563807', '451.369.8716', '3328594631', '-10110',
       '701.939.6996', '(873)889-9471', '6119355874', '(288)206-2798',
       '333-779-8097x2347', '586.034.1297', '001-950-937-3674x3504',
       '+1-724-289-2580x837', '(047)032-2027x3605', '(708)774-7454x729',
       '027-908-7316x725', '(786)106-0223', '+1-263-695-2606x7586',
       '001-772-944-6336x168', '001-470-693-4050x95296', '(223)537-4201',
       '2526790147', '001-533-240-1695x679', '943-245-8254x8788',
       '386-935-3146', '697-507-8931', '(388)333-7353x8324',
       '(766)644-1565x07376', '061.212.6336', '+1-302-773-8245x25654',
       '193-186-9967', '(488)295-3387x30397', '678.889.5526x04700',
       '001-588-163-4981x9542', '416-187-9026', '649-364-1585',
       '(483)808-6506', '4340260358', '736-844-2429x298',
       '(328)712-6257x1223', '+1-044-835-4404x483', '093.258.2270',
       '(731)154-7011x27829', '001-292-893-9228x7012',
       '001-931-175-0300x6963', '715-832-8924', '9243744843',
       '001-607-800-4979x96494', '463-565-9012', '203-841-2499',
       '132.838.1663x38051', '916-379-5370x9984', '269-521-3375x516',
       '825.175.3063x06412', '+1-117-851-1795x26956',
       '+1-947-012-2217x8447', '(278)093-3663', '(815)610-5096x2795',
       '+1-460-516-0197x80941', '001-250-675-6940x85289', '7342847803',
       '7019789360', '(568)275-6748x2490', '5341896335',
       '(583)649-1693x8409', '309854071', '665.207.8772x57230',
       '950.519.1474x5235', '(113)014-7831x9464', '000-017-1834x8902',
       '995-193-0690', '(934)434-0536x044', '417-175-6316',
       '102-357-5047x964', '(793)311-5008', '80095682', '-2093',
       '193-705-1010', '6556708415', '+1-893-987-0637x94105',
       '(683)029-9498x16512', '393-599-5924x2414', '(127)899-0101',
       '001-429-361-9801', '416.377.5635x626', '517.501.4960',
       '712.074.3771x26390', '771-157-8817x42260', '614.800.0257x53837',
       '566.226.6794x994', '(498)216-2789x8582', '001-452-848-2181x328',
       '(193)251-1665x457', '(997)042-7826', '001-085-594-4559x872',
       '(742)983-1958x88209', '211-241-9990', '(941)198-6784x51878',
       '(447)170-2766', '4942716417', '204-364-8124', '907-675-0674',
       '001-642-984-5062x89151', '-6345', '679-582-1062x14875',
       '197.767.7821x848', '001-597-675-6361x0485', '126-419-8333',
       '001-463-956-2617x8538', '001-729-772-8427', '(681)509-1787',
       '+1-708-912-3443x0302', '603-124-4407x470', '838-094-8445x4980',
       '284.011.6269x7372', '001-897-602-1941x969', '555.186.4175x684',
       '7361854341', '222.092.5549', '316-841-7176x52474', '498.831.3862',
       '(146)647-9813x47911', '566.253.5450', '221-605-4196',
       '(694)789-6740x4269', '657-424-3917x88297', '534.256.6123x51204',
       '8792929924', '481.940.8804x068', '231.412.1068',
       '(228)076-5172x949', '(683)156-5726', '508-621-1649x47242',
       '027.309.9261x686', '479-260-5736x11742', '001-194-635-5597x047',
       '7886901348', '628.117.2792x092', '778.519.8483',
       '(787)893-9577x779', '-6247', '838.970.5884', '281-872-8168x51705',
       '+1-895-041-8709x40343', '(269)248-5703', '406-043-4594x5418',
       '001-877-739-6300x3419', '+1-938-842-1157x84286',
       '028.783.7477x505', '001-054-248-5728x337', '(179)037-3088x4653',
       '876.690.3205x085', '928.007.5065x989', '001-357-295-5098',
       '(071)825-3776x427', '179-136-1668', '373-024-3426', '2979077002',
       '(720)107-5417x0679', '950.637.4269', '266.302.9944x37292',
       '(832)103-0696x48404', '+1-444-787-8629x309',
       '+1-598-679-0779x4428', '001-254-370-5353', '-8212',
       '070.456.0525x745', '432-914-6682', '271-573-5376x711',
       '129-167-7289', '(296)560-4606x127', '921.542.7766',
       '+1-903-596-0995x489', '(869)053-4142x60124', '991.345.9808',
       '(630)092-6365x346', '773-022-2720', '4019101915',
       '883-178-9162x8349', '(369)212-7750x511', '001-867-462-6437x986',
       '+1-259-648-9564x073', '576-096-6192x3244', '187-629-0069x666',
       '540-691-8062x229', '(562)770-0620x070', '169.475.4021x656',
       '(611)951-4635x707', '345-071-0901', '-8054', '(021)972-2970x7765',
       '338-742-1755x20799', '001-294-785-3161x10900',
       '+1-263-115-1291x70186', '170.090.1757x4281', '1215885174',
       '001-331-453-1563x2715', '(768)340-5471x37859', '-2152',
       '440.831.7052', '1037883254', '+1-020-501-5624x8532',
       '(523)377-8571x2287', '+1-709-051-7668x51394', '317.051.6578x759',
       '(679)692-7198x9109', '303.083.3066', '001-390-730-5653x49003',
       '(370)809-0651x2330', '161.061.1526x49903', '641.972.7875x334',
       '027-061-5404', '001-089-880-7839', '572.730.5436x9018',
       '026.362.4294', '+1-021-934-3005x16455', '344-988-2657',
       '001-447-760-1989x182', '106-472-7738x517', '(968)186-3363',
       '+1-329-508-8772x89799', '001-698-038-8121', '(037)993-4620x198',
       '+1-238-636-3961x830', '(264)357-4205x76487', '987.550.4906',
       '594.225.6371', '6197030159', '281-101-3518', '(150)312-9124x907',
       '+1-356-676-3110x878', '(377)530-0895x3205', '(737)835-0276x1710',
       '4143700246', '608.132.3226x353', '493-378-9322', '040.392.0489',
       '+1-928-922-9199x0018', '001-850-427-6484x019',
       '001-568-522-6288x737', '740-835-9000', '(764)943-4650',
       '642.958.5250', '691.970.5243', '259-382-4661', '(639)194-6306',
       '361-858-9274x1106', '001-839-115-6210', '001-294-141-0218x506',
       '+1-826-333-2543x472', '984.556.4232', '(785)802-7279x02638',
       '398-314-2315', '001-594-212-6731x9666', '977-255-5446',
       '757.987.4456x838', '123.378.6942x2425', '165.175.6919',
       '(567)762-7250', '9455464754', '414-392-5263x6879',
       '(148)738-2456x7741', '(933)464-5698x45607', '(196)169-4158x1406',
       '001-702-861-2892x431', '378.723.8193x8881', '406-708-9191x835',
       '001-351-459-8965', '908-918-3298x3666', '908-912-8019x9278',
       '667.827.3605x666', '(230)125-9706x3262', '852-229-9812',
       '(789)445-3941x06090', '+1-468-257-9242x76156',
       '(127)799-1270x82908', '051.164.3836x1685', '001-752-436-0279x255',
       '703.544.7090', '333.071.9271', '+1-128-137-6418x243',
       '9019244242', '(958)003-4052x152', '(255)251-2697x1723',
       '128-000-6793x544', '+1-826-090-7747x105', '557.677.3532x4837',
       '2838453308', '-8137', '(444)405-4041x920', '(862)324-2691x6036',
       '+1-399-874-1872x07858', '863-702-1425x05294', '-9204',
       '618-010-6972x87439', '(996)003-4293x083', '-4420',
       '001-527-990-0673x63377', '+1-420-405-1011x88746',
       '476.923.0644x140', '001-791-880-8989x42004', '(839)430-2088x527',
       '253-358-4480', '8644645062', '347.759.7140x19691',
       '(112)291-5113', '497-871-9483x18212', '4807677857',
       '832-937-4132x7498', '+1-874-865-2786x97890', '127-623-1585x1524',
       '+1-229-767-6379x325', '(018)678-2206x0567', '126-787-7498',
       '(921)883-5194x519', '+1-408-185-3192x61329', '222.140.6767',
       '176-413-5965', '+1-591-330-0881x096', '307-237-1729x611',
       '(660)985-6858', '(498)760-9791', '001-843-757-8991x4644',
       '945-623-0355', '4732944522', '574.033.2464x8931', '-8264',
       '+1-166-938-8350x666', '001-296-660-8835x393', '405-736-1929x0513',
       '064.875.1370x536', '001-035-079-7971', '381.196.5445x1259',
       '888-083-4857x55487', '792-307-0981', '511-014-2837',
       '(944)679-9958', '130-025-6925x8679', '(715)294-1184',
       '(877)569-9497', '9140509503', '198.739.3494', '(641)222-9987',
       '+1-426-121-0097x92962', '045-103-7446x898', '707.325.1888x302',
       '(750)097-3334x63532', '(555)080-0183x3616', '(872)955-3824x933',
       '001-254-029-8422x633', '6263040526', '001-822-411-1494x3587',
       '-9856', '737.858.9707x96904', '+1-732-469-6082x930',
       '+1-431-536-3865x4539', '(875)476-7388x01659',
       '(958)325-4522x0302', '214-802-8294x73144', '+1-647-412-6694x936',
       '2140198782', '+1-232-944-9856x0325', '240.542.9508',
       '(624)931-9690x37093', '-6707', '215-204-9440x38332',
       '261.518.3562x193', '+1-286-378-9964x78084', '2473259399',
       '961.827.9503', '595.653.8428', '001-263-548-5170x41515',
       '789.800.4253x0894', '5441639643', '010-361-9620x13266',
       '233-072-2674', '345-714-8209x42069', '001-206-916-4788',
       '4008095210', '001-578-875-4590', '(844)655-1890',
       '+1-104-262-6571x2783', '(162)296-2950', '125-420-8850',
       '+1-433-681-7720x437', '(291)707-9579x2558', '654-490-7760',
       '9860888302', '889-865-0121', '367.457.3561x85144',
       '001-582-848-2323', '437-026-0338', '894.950.5554x0826',
       '(777)833-9536', '294-609-5119', '001-346-209-9798',
       '936.049.2941', '(675)861-9186x42301', '001-556-800-7888',
       '+1-747-531-3558x936', '866-536-9033x4711', '(836)243-2400x75048',
       '(261)395-6954', '392-470-2642x33662', '+1-469-192-3212x9080',
       '(444)884-1054', '864.929.4371', '+1-787-518-8961x01222',
       '3271074311', '(279)026-3675x04281', '-1170',
       '(208)033-3905x49185', '001-721-367-2584x508', '(263)422-6089',
       '379.231.6235x5897', '760-584-2951x865', '879.186.9242x3124',
       '001-890-636-4631x405', '001-543-900-2861x7398',
       '369-852-5458x093', '070-373-7500x981', '572.316.2027x103',
       '+1-360-849-5877x978', '804.289.3655x00467',
       '001-176-702-1902x2676', '131.546.8652', '+1-640-638-1206x075',
       '000-226-3789x2350', '001-136-483-5184', '+1-126-628-2160x7655',
       '(783)972-1226x6445', '+1-471-180-1992x400', '985.118.4184x45627',
       '+1-530-371-9041x9526', '956.128.8914', '746123720',
       '001-944-627-0612x59599', '694-662-0505x445', '1322562407',
       '115-459-8166', '+1-470-749-9289x41694', '+1-565-673-5509x055',
       '001-772-704-4112', '982.692.6257', '655-893-0611', '-8678',
       '313-137-7706x08535', '+1-578-032-3490x96379',
       '+1-625-761-5927x0104', '436.435.5330x0823', '275.334.6221',
       '5209615749', '001-685-136-9655', '001-246-522-7417x131',
       '7232082848', '(823)052-4385', '+1-354-236-4731x8186',
       '343.808.8794', '-4993', '695-903-9909x6258', '000.937.6100',
       '001-620-603-6438', '226-772-8465x83216', '001-944-928-2350x1413',
       '+1-119-052-8161x077', '009.260.4863x0650', '7790359292',
       '724-776-4268', '292.054.2991x8638', '470.600.5119',
       '001-433-809-2376x5082', '272-667-4615', '724-657-4870',
       '914.173.9346', '(953)294-7560x96973', '604-376-7838x28616',
       '(556)086-8977x05405', '001-699-885-6247x42962',
       '001-657-886-8019x3397', '(756)056-8238x253',
       '+1-109-323-9655x934', '(297)816-7270', '001-166-175-2915',
       '001-610-348-0297x03252', '570-822-0078x900', '(288)627-9659x909',
       '335-405-4928x873', '(914)051-9227', '001-588-469-9770x4897',
       '456.693.5786x36552', '767.884.8252x262', '001-198-899-8777x517',
       '+1-990-138-6017x238', '577-438-8617x3980', '699-844-6839',
       '001-062-393-4265x0986', '511.086.7178', '2931481645',
       '081.103.9205x63568', '969662902', '+1-656-627-9739x10338',
       '956-042-9355x04371', '001-899-366-2788x46956',
       '412-275-7723x5364', '(396)368-5082', '263-938-1564x0528',
       '(812)017-6908', '807-969-6087x54319', '(790)820-3408x83559',
       '+1-842-242-5690x30077', '+1-238-082-1116x730', '778-379-1284x893',
       '661-621-6341x47106', '084-860-0445', '555.374.1073x433',
       '109-131-3098', '(780)487-3781x16548', '009-993-1736x5806',
       '906.240.9278', '626.594.8169x676', '(768)336-1702',
       '+1-416-626-8025x601', '263-711-2288x474', '778-994-7847x0149',
       '229-769-5865', '383.013.6115x26877', '754-427-9326',
       '001-874-856-8543x207', '974.885.8549x176', '3033546235',
       '(344)179-0208x5245', '053-739-1357x12643',
       '001-803-340-4079x76935', '+1-687-384-9970x252',
       '001-046-232-8317x1629', '9035524996', '726-123-5829',
       '373-629-5692x404', '(242)573-5402x0614', '+1-996-191-5230x491',
       '532-779-2449', '(825)855-7424', '+1-403-567-3546x275',
       '184-399-4232x775', '057.846.9210x0614', '(052)232-0502x8854',
       '001-187-987-7783', '975.738.3349x314', '+1-505-978-8290x492',
       '8401850249', '738.477.2975x46975', '001-711-429-9158x6035',
       '1102858120', '900.932.9738x235', '011.396.7875x37387',
       '281801251', '501.619.3807x59327', '-9975', '686.995.9817',
       '391-326-9848x09874', '473-521-1775x077', '9906067193',
       '(821)711-5848', '634-047-2701x91442', '115-751-4099',
       '(358)587-9630', '+1-725-026-5641x373', '409.930.8937',
       '(830)679-1944', '6097713760', '001-673-249-3523x21337',
       '780-216-7444x013', '(684)253-6679x4634', '710-080-9153',
       '304-888-7577x065', '(934)889-1519x161', '001-237-052-1052',
       '(768)620-8511x7858', '185.798.1904', '-10498', '439-095-8164x106',
       '+1-473-628-1454x706', '001-665-191-3219', '001-949-240-9597x151',
       '+1-356-433-2853x10497', '(378)127-6068', '-1574',
       '869-150-0627x4703', '092.985.5153', '949-408-3117x9847',
       '495.801.0696', '196.892.9479x1260', '297-274-5014x73862',
       '(145)206-5183x120', '001-699-014-2260x68707', '305.824.1054',
       '001-746-306-5874x1736', '693.085.5807x70222',
       '001-375-664-6733x1057', '647-107-8861', '001-240-941-6518x58690',
       '+1-563-119-8610x103', '001-260-870-9847', '454.215.0191',
       '369-715-4082', '001-665-942-5937x733', '664.355.3612x031',
       '629.764.8417', '439.504.4293', '(250)964-1212x08050',
       '(303)232-2425x124', '684-789-9132x271', '+1-724-220-9443x27366',
       '345-586-2372', '364.579.0496x4459', '939-220-4965x592',
       '920.684.2715x47352', '001-442-173-5753x43353',
       '+1-781-671-5355x6321', '593.328.5077x117', '(873)754-7567x954',
       '815-913-2572x02631', '989-102-1432x311', '870.261.9490',
       '001-855-398-7323', '365-734-2105x637', '-4132', '045.558.9873',
       '711-330-8727x8347', '(209)121-8096x75468',
       '001-101-460-3222x4214', '295.935.4715x866', '(286)353-1333x922',
       '056-180-5303', '990-151-2491x459', '001-001-246-3557x8159',
       '179-906-3305', '-5918', '001-062-569-8803x495',

In [107]:
# filterig all string column and just dropping
df_copy = df.copy() #copying dataset in df_copy 
df_copy['Phone'] = df_copy['Phone'].fillna('0000000000') # Here is some value is null so we filling with 000000000
df_copy[~df_copy.Phone.str.isnumeric()] # Checkig all string value

,Index,User Id,First Name,Last Name,Gender,Email,Phone,Date of birth,Job Title,Salary
0,1,8717bbf45cCDbEe,Shelia,Mahoney,Male,pwarner@example.org,857.139.8239,27-01-2014,Probation officer,90000
2,3,810Ce0F276Badec,Sheryl,Lowery,Female,fhoward@example.org,(599)782-0605,25-11-2013,Copy,50000
4,5,9afFEafAe1CBBB9,Lindsey,Rice,Female,elin@example.net,(390)417-1635x3010,15-04-1923,Biomedical engineer,100000
6,7,efeb05c7Cc94EA3,Ernest,Hoffman,Male,jeffharvey@example.com,093.655.7480x7895,22-12-1984,Health visitor,60000
8,9,421fAB9a3b98F30,Cheryl,Mays,Male,jake50@example.com,013.820.4758,16-12-2012,"Designer, multimedia",50000
...,...,...,...,...,...,...,...,...,...,...
995,996,fedF4c7Fd9e7cFa,Kurt,Bryant,Female,lyonsdaisy@example.net,021.775.2933,05-01-1959,Personnel officer,90000
996,997,ECddaFEDdEc4FAB,Donna,Barry,Female,dariusbryan@example.com,001-149-710-7799x721,06-10-2001,Education administrator,50000
997,998,2adde51d8B8979E,Cathy,Mckinney,Female,georgechan@example.org,+1-750-774-4128x33265,13-05-1918,Commercial/residential surveyor,60000
998,999,Fb2FE369D1E171A,Jermaine,Phelps,Male,wanda04@example.net,(915)292-2254,31-08-1971,Ambulance person,100000
999,1000,8b756f6231DDC6e,Lee,Tran,Female,deannablack@example.org,079.752.5424x67259,24-01-1947,"Nurse, learning disability",90000

In [109]:
df_copy['Phone'] = df_copy['Phone'].str.replace("."," ").str.replace("+"," ").str.replace("-"," ").str.replace("x","").str.replace(" ","")
# Clean the 'Phone' column
df_copy['Phone'] = df_copy['Phone'].str.replace(r'\D', '', regex=True)

# Convert the 'Phone' column to float
df_copy['Phone'] = df_copy['Phone'].astype(float)

# Display the cleaned DataFrame
print("\nDataFrame after cleaning and converting 'Phone' column to float:")
print(df_copy)

# Display table attributes and data types of each column
print("\nTable Attributes and Data Types:")
print(df_copy.info())

DataFrame after cleaning and converting 'Phone' column to float:
     Index          User Id First Name Last Name  Gender  \
0        1  8717bbf45cCDbEe     Shelia   Mahoney    Male
1        2  3d5AD30A4cD38ed         Jo    Rivers  Female
2        3  810Ce0F276Badec     Sheryl    Lowery  Female
3        4  BF2a889C00f0cE1    Whitney    Hooper    Male
4        5  9afFEafAe1CBBB9    Lindsey      Rice  Female
..     ...              ...        ...       ...     ...
995    996  fedF4c7Fd9e7cFa       Kurt    Bryant  Female
996    997  ECddaFEDdEc4FAB      Donna     Barry  Female
997    998  2adde51d8B8979E      Cathy  Mckinney  Female
998    999  Fb2FE369D1E171A   Jermaine    Phelps    Male
999   1000  8b756f6231DDC6e        Lee      Tran  Female

                             Email         Phone Date of birth  \
0              pwarner@example.org  8.571398e+09    27-01-2014
1    fergusonkatherine@example.net  0.000000e+00    26-07-1931
2              fhoward@example.org  5.997821e+09    25-11-2013
3            zjohnston@example.com  0.000000e+00    17-11-2012
4                 elin@example.net  3.904172e+13    15-04-1923
..                             ...           ...           ...
995         lyonsdaisy@example.net  2.177529e+08    05-01-1959
996        dariusbryan@example.com  1.149711e+13    06-10-2001
997         georgechan@example.org  1.750774e+15    13-05-1918
998            wanda04@example.net  9.152922e+09    31-08-1971
999        deannablack@example.org  7.975254e+13    24-01-1947

                           Job Title  Salary
0                  Probation officer   90000
1                             Dancer   80000
2                               Copy   50000
3           Counselling psychologist   65000
4                Biomedical engineer  100000
..                               ...     ...
995                Personnel officer   90000
996          Education administrator   50000
997  Commercial/residential surveyor   60000
998                 Ambulance person  100000
999       Nurse, learning disability   90000

[1000 rows x 10 columns]

Table Attributes and Data Types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          1000 non-null   int64
 1   User Id        1000 non-null   object
 2   First Name     1000 non-null   object
 3   Last Name      1000 non-null   object
 4   Gender         1000 non-null   object
 5   Email          1000 non-null   object
 6   Phone          1000 non-null   float64
 7   Date of birth  1000 non-null   object
 8   Job Title      1000 non-null   object
 9   Salary         1000 non-null   int64
dtypes: float64(1), int64(2), object(7)
memory usage: 78.3+ KB
None

## Que .8- Perform the following tasks using people dataset:

 a) Read the 'data.csv' file using pandas, skipping the first 50 rows.

 b) Only read the columns: 'Last Name', ‘Gender’,’Email’,‘Phone’ and ‘Salary’ from the file.

 c) Display the first 10 rows of the filtered dataset.

 d) Extract the ‘Salary’' column as a Series and display its last 5 values

In [125]:

# a) Read the 'data.csv' file using pandas, skipping the first 50 rows
df = pd.read_csv(r"E:\DataScience\Assignment\People Data.csv", skiprows = 50) #skiprows=range(1, 51))
df

,50,afF3018e9cdd1dA,George,Mercer,Female,douglascontreras@example.net,+1-326-669-0118x4341,11-09-1941,Human resources officer,70000
0,51,CccE5DAb6E288e5,Jo,Zavala,Male,pamela64@example.net,001-859-448-9935x54536,23-11-1992,"Nurse, adult",80000
1,52,DfBDc3621D4bcec,Joshua,Carey,Female,dianashepherd@example.net,001-274-739-8470x814,07-01-1915,Seismic interpreter,70000
2,53,f55b0A249f5E44D,Rickey,Hobbs,Female,ingramtiffany@example.org,241.179.9509x498,01-07-1910,Barrister,60000
3,54,Ed71DcfaBFd0beE,Robyn,Reilly,Male,carriecrawford@example.org,207.797.8345x6177,27-07-1982,"Engineer, structural",100000
4,55,FDaFD0c3f5387EC,Christina,Conrad,Male,fuentesclaudia@example.net,001-599-042-7428x143,06-01-1998,"Producer, radio",50000
...,...,...,...,...,...,...,...,...,...,...
945,996,fedF4c7Fd9e7cFa,Kurt,Bryant,Female,lyonsdaisy@example.net,021.775.2933,05-01-1959,Personnel officer,90000
946,997,ECddaFEDdEc4FAB,Donna,Barry,Female,dariusbryan@example.com,001-149-710-7799x721,06-10-2001,Education administrator,50000
947,998,2adde51d8B8979E,Cathy,Mckinney,Female,georgechan@example.org,+1-750-774-4128x33265,13-05-1918,Commercial/residential surveyor,60000
948,999,Fb2FE369D1E171A,Jermaine,Phelps,Male,wanda04@example.net,(915)292-2254,31-08-1971,Ambulance person,100000
949,1000,8b756f6231DDC6e,Lee,Tran,Female,deannablack@example.org,079.752.5424x67259,24-01-1947,"Nurse, learning disability",90000

In [121]:
# b) Only read the specified columns
selected_columns = ['Last Name', 'Gender', 'Email', 'Phone', 'Salary']
df = df[selected_columns]

In [116]:
# c) Display the first 10 rows of the filtered dataset
print("First 10 rows of the filtered dataset:")
print(df.head(10))

First 10 rows of the filtered dataset:
  Last Name  Gender                       Email                   Phone  \
0    Zavala    Male        pamela64@example.net  001-859-448-9935x54536
1     Carey  Female   dianashepherd@example.net    001-274-739-8470x814
2     Hobbs  Female   ingramtiffany@example.org        241.179.9509x498
3    Reilly    Male  carriecrawford@example.org       207.797.8345x6177
4    Conrad    Male  fuentesclaudia@example.net    001-599-042-7428x143
5      Cole    Male      kaneaudrey@example.org            663-280-5834
6   Donovan    Male   rebekahsantos@example.net                     NaN
7    Little  Female         craig28@example.com       125.219.3673x0076
8    Dawson  Female  connercourtney@example.net      650-748-3069x64529
9      Page    Male  harrygallagher@example.com        849.500.6331x717

   Salary
0   80000
1   70000
2   60000
3  100000
4   50000
5   85000
6   65000
7   60000
8   60000
9   60000

In [118]:
# d) Extract the ‘Salary’ column as a Series and display its last 5 values
salary_series = df['Salary']
print("\nLast 5 values of the 'Salary' column:")
print(salary_series.tail(5))

Last 5 values of the 'Salary' column:
945     90000
946     50000
947     60000
948    100000
949     90000
Name: Salary, dtype: int64

## Que 9.
### Filter and select rows from the People_Dataset, where the “Last Name' column contains the name 'Duke','Gender' column contains the word Female and ‘Salary’ should Be less than 85000.

In [128]:
df = pd.read_csv(r"E:\DataScience\Assignment\People Data.csv")
# Filter and select rows based on conditions
filtered_df = df[(df['Last Name'].str.contains('Duke')) & 
                 (df['Gender'] == 'Female') & 
                 (df['Salary'] < 85000)]

# Display the filtered DataFrame
pd.DataFrame(filtered_df)

,Index,User Id,First Name,Last Name,Gender,Email,Phone,Date of birth,Job Title,Salary
45,46,99A502C175C4EBd,Olivia,Duke,Female,diana26@example.net,001-366-475-8607x04350,13-10-1934,Dentist,60000
210,211,DF17975CC0a0373,Katrina,Duke,Female,robin78@example.com,740.434.0212,21-09-1935,"Producer, radio",50000
457,458,dcE1B7DE83c1076,Traci,Duke,Female,perryhoffman@example.org,+1-903-596-0995x489,11-02-1997,Herbalist,50000
729,730,c9b482D7aa3e682,Lonnie,Duke,Female,kevinkramer@example.net,982.692.6257,12-05-2015,"Nurse, adult",70000

## Que 10.
###  Create a 7*5 Dataframe in Pandas using a series generated from 35 random integers between 1 t 6

In [139]:
Randomint = np.random.randint(1,7,35) #generating random number
print("Random Generated Number :",Randomint)
df = pd.DataFrame(Randomint.reshape(7,5))
print("\n(7*5) DataFrame using pandas :")
df

Random Generated Number : [4 3 6 5 3 3 3 1 4 1 4 6 1 3 4 6 5 3 2 4 3 1 1 1 3 1 5 2 6 1 2 3 6 2 3]

(7*5) DataFrame using pandas :

   0  1  2  3  4
0  4  3  6  5  3
1  3  3  1  4  1
2  4  6  1  3  4
3  6  5  3  2  4
4  3  1  1  1  3
5  1  5  2  6  1
6  2  3  6  2  3